.game-info-container {
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.game-info-container .game-info-item {
    margin-bottom: 0.7rem;
}

.game-info-container .game-info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.game-info-container .game-info-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.game-info-container .game-info-column-left {
    margin-right: 4%;
}

.game-info-container .p-dropdown,
.game-info-container .p-inputtext {
    height: 38px;
}

.game-info-container .p-inputtext {
    padding-left: 0px;
}

.game-info-container .p-inputtext::placeholder {
    text-align: left;
}

.game-info-container .p-dropdown .p-dropdown-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.game-info-container .game-info-score-input {
    width: 100% !important;
    text-align: left !important;
}

.game-info-container .rounds-option {
    color: #4682B4;
}

.game-info-container .p-button.p-button-info {
    background-color: #3498db;
    border-color: #3498db;
}

.game-info-container .p-button.p-button-info:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.game-info-container .p-button.p-button-secondary {
    background-color: #95a5a6;
    border-color: #95a5a6;
}

.game-info-container .p-button.p-button-secondary:hover {
    background-color: #7f8c8d;
    border-color: #7f8c8d;
}

.game-info-container .game-info-item label {
    font-size: 18px;
}

.game-info-container #rounds+label {
    font-size: 18px;
}

.game-info-container .game-info-column-left label {
    font-size: 18px;
}

.game-info-container .game-info-column-right label {
    font-size: 18px;
}