.note-container {
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
}

.block {
    display: block;
}

.font-bold {
    font-weight: bold;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-left {
    text-align: left;
}

.w-full {
    width: 100%;
}

.input-textarea {
    width: 100%;
    min-height: 90px;
    border: 0.5px solid #dcdcdc;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 1.5;
}

.input-textarea::placeholder {
    color: #999999;
    text-align: left;
}