.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10% 10px;
    width: 100%;
}

.scoreboard-container .players-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
}

.scoreboard-container .team-header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
}

.scoreboard-container .team-header.our {
    background-color: #FF6347;
}

.scoreboard-container .team-header.enemy {
    background-color: #87CEEB;
}

.scoreboard-container .team-label {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.scoreboard-container .player-input {
    width: 45%;
    height: 30px;
}

.scoreboard-container .player-spacer {
    width: 10%;
}

.scoreboard-container .player-name-input {
    width: 100%;
    text-align: center !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem !important;
}

.scoreboard-container .player-name-input::placeholder {
    text-align: center !important;
}

.scoreboard-container .score-section {
    width: 100%;
    margin-bottom: 0.7rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.scoreboard-container .category-label {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.scoreboard-container .score-row,
.scoreboard-container .special-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.scoreboard-container .player-score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.scoreboard-container .success-label,
.scoreboard-container .fail-label {
    font-weight: bold;
    font-size: 18px;
}

.scoreboard-container .special-row .category-label {
    flex: 1;
    text-align: center;
    margin: 0 10px;
    font-size: 1rem;
    font-weight: bold;
    white-space: pre-wrap;
    line-height: 1.2;
}

.scoreboard-container .special-row .player-score {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scoreboard-container .score-input {
    font-size: 18px;
    width: 40px !important;
    text-align: center !important;
    background-color: #FFFFFF !important;
    cursor: default !important;
    height: 2rem !important;
}

.scoreboard-container .score-button {
    width: 2rem !important;
    height: 2rem !important;
    margin: 0 5px;
}

.scoreboard-container .p-inputtext {
    padding-left: 0px !important;
    text-align: center !important;
}

.scoreboard-container .p-button-secondary:hover {
    background-color: #e9ecef;
    color: #495057;
    border-color: #adb5bd;
}

.scoreboard-container.our .special {
    background-color: #FFE4E1;
}

.scoreboard-container.our .attack,
.scoreboard-container.our .defense,
.scoreboard-container.our .midfield,
.scoreboard-container.our .chance,
.scoreboard-container.our .smash {
    background-color: #FFCCCB;
}

.scoreboard-container.enemy .attack,
.scoreboard-container.enemy .defense,
.scoreboard-container.enemy .midfield,
.scoreboard-container.enemy .chance,
.scoreboard-container.enemy .smash {
    background-color: #ADD8E6;
}

.scoreboard-container.enemy .special {
    background-color: #E6F3FF;
}


.game-info-container .game-info-row:last-child {
    margin-bottom: 10px;
    padding-bottom: 8px;
}